*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

figure {
    // padding: 100px;
    // margin: -100px;
    display: inline-block;
}

img {
    opacity: 0;
}

#container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
